<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head th:replace="fragment ::html_headtag">
    <meta charset="ISO-8859-1">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
     <title>Istoric Abonat</title>
</head>
<body>
  <div th:replace="fragment ::html_header"></div>
  <div>
        <meta charset="UTF-8" />
        <title th:text="${add} ? 'Adauga un Pachet' : 'Edit un Pachet'" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1 th:text="${add} ? 'Adauga un Pachet:' : 'Edit un Pachet:'" />
        <a th:href="@{/membri}">Back to Membru List</a>
        <br/><br/>
        <form th:action="${add} ? @{/istoric/add} : @{/istoric/{id}/edit(id=${membru.id})}"
            th:object="${istoric}" method="POST">
            <table border="0">
                <tr th:if="${istoric.id}">
                    <td>ID</td>
                    <td>:</td>
                    <td th:utext="${istoric.id}">...</td>             
                </tr>
                <tr th:if="${istoric.idmembru}">
                    <td>IdMembru</td>
                    <td>:</td>
                    <td th:utext="${idmembru}">...</td>             
                </tr>
                <tr th:if="${numemembru}">
                    <td>NumeMembru</td>
                    <td>:</td>
                    <td th:utext="${numemembru}">...</td>             
                </tr>
<!--                
<td><select name="games">
  <option th:each="games : ${gamesList}" th:text="${games}"/>
</select></tr>
	private Long id;	
	private Long IdMembru;
	private Long IdTipPachet;
	private String NumeMembru;
	private String DenumirePachet;
	private Date DataStart;
	private Date DataSfarsit;
	private Integer Valoare;
	private String Observatii;                
-->
                <td><select name="pachet">
                     <option th:each="pachet : ${pachete}" th:text="${pachet.denumire}"/>
                </select></tr>
<!--                
                <tr>
                    <td>DataStart</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{istoric.datastart}" /></td>              
                </tr>
                <tr>
                    <td>DataSfarsit</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{istoric.datasfarsit}" /></td>              
                </tr>
                <tr>
                    <td>Valoare</td>
                    <td>:</td>
                    <td><input type="text" th:field="*{istoric.valoare}" /></td>              
                </tr>
-->                
            </table>
            <input type="submit" th:value="${add} ? 'Create' : 'Update'" />
        </form>
        <br/>
        <!-- Check if errorMessage is not null and not empty -->       
        <div th:if="${errorMessage}" th:utext="${errorMessage}" class="error" />       
    </body>
</div>
<div th:replace="fragment ::html_footer"></div>
</body>
</html>

